.header{
    background: url('https://image.ibb.co/k7cmVT/logo_w.png');
    background-position-x: 10px;
    background-repeat: no-repeat;
    background-color: #02373e;
    height: 50px;
}
.header-link{
    color: #fff;
}
.test-title{
    height: 60px;
    border: #02373e 2px solid;
}
.wide-element{
    width: 100%;
    font-size: 2rem;
}
.button-half{
    width: 50%;
}
body{
    font-size: 4rem;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkslategrey;
    font-size: 5rem;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.test-container{
    min-height: 400px;
}