.header{
    background: url('https://image.ibb.co/k7cmVT/logo_w.png');
    background-position-x: 10px;
    background-repeat: no-repeat;
    background-color: #02373e;
    height: 50px;
}
.header-link{
    color: #fff;
}
.test-title{
    height: 50px;
    border: #02373e 2px solid;
    line-height: 50px;
    padding-left: 10px;
}
.wide-element{
    width: 100%;
    font-size: 2rem;
}
.button-half{
    width: 50%;
}
body{
    font-size: 4rem;
}
.test-container{
    min-height: 600px;
}
.list-container{
    overflow: auto;
    max-height: 500px; 
}